ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# PROXY_URL is used for local development with the 'npm start' command.
# To get a URL, first deploy the app with 'npm run serverless:deploy'.
# Then take note of the URL that is printed to the console.
PROXY_URL=https://rtc-diagnostics-video-1234-dev.twil.io

# This VIDEO_IDENTITY is optional. Uncomment the following line to use a custom identity
# when obtaining an access token for the Preflight Test.
# VIDEO_IDENTITY=test_identity